/* For styles pertaining to the html at large or that I want to be persistent across the document */

body {
    overflow: hidden;
    background: rgb(36, 36, 36);
    color: antiquewhite;
    font-family: 'jetBrains Mono';
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 0.5rem;
}

#create-post {
    cursor: pointer;
    border-radius: 1rem;
    background-color: rgb(31, 31, 31);
    border: 1px solid antiquewhite;
    color: antiquewhite;
    height: 1.5rem;
}

#create-post:active {
    border: none;
}

#create-post-area {
    background-color: rgb(36, 36, 36);
    border: 2px solid rgb(31, 31, 31);
    border-radius: 3rem;
    position: fixed;
    top: 1rem;
    left: 10%;
    right: 10%;
    bottom: 1rem;
    z-index: 901;
}

header {
    height: 4rem;
    flex-shrink: 0;
    z-index: 100;
}

.nav-bar {
    background: rgb(31, 31, 31);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar a,
.off-screen-menu>ul a {
    color: antiquewhite;
    text-decoration: none;
    cursor: pointer;
    margin: 0.25rem;
}

.nav-bar a:visited,
.nav-bar a:hover,
.off-screen-menu>ul a:visited,
.off-screen-menu>ula:hover,
.off-screen-menu>ul a:active {
    color: #faebd7;
    text-decoration: none;
}

#nav-search input {
    background-color: black;
    background-image: url(../../images/magnifying-glass-svgrepo-com.svg);
    background-repeat: no-repeat;
    border: 0;
    border-radius: 0.3rem;
    outline: 0;
    color: #faebd7;
    height: 1.5rem;
}


/* OffScreen menu and hamburger menu styling */
.off-screen-menu {
    border-left: 1px solid black;
    background-color: rgb(37, 36, 36);
    height: 100vh;
    width: 100%;
    max-width: 20rem;
    position: fixed;
    top: 0;
    right: -25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    transition: .3s ease;
    z-index: 900;
}

.hidden-top-bar {
    height: 3rem;
}

.off-screen-span {
    flex: 1;
}

.off-screen-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.off-screen-menu.active {
    right: 0;
}

.off-screen-menu>ul>li:hover {
    cursor: pointer;
}

.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    margin: 0.25rem;
    z-index: 1000;
}

.ham-menu:hover {
    cursor: pointer;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #faebd7;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active {
    position: relative;
    z-index: 1001;
}

.ham-menu.active span {
    background-color: #faebd7;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


main {
    flex: 1;
    min-height: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.hidden {
    display: none;
}


footer {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    background-color: rgb(31, 31, 31);
    height: 4rem;
}

footer>p {
    margin: 0;
}