.post-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: rgb(36, 36, 36);
    height: 100%;
    width: 90%;

}

.post-area>article {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(40, 40, 40);
    max-height: 20rem;
    height: 95%;
    width: 70%;
    border: 2px solid rgb(31, 31, 31);
    border-radius: 0.3rem;
}