.post-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(36, 36, 36);
    height: 100%;
    width: 90%;
    border-left: 2px solid rgb(31, 31, 31);
    border-right: 2px solid rgb(31, 31, 31);
}

.post-area>article {
    background: rgb(36, 36, 36);
    height: 100%;
}