body {
    background: rgb(37, 36, 36);
    color: antiquewhite;
    font-family: 'jetBrains Mono';
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(31, 31, 31);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 2rem;
}

header a {
    color: antiquewhite;
    text-decoration: none;
    cursor: pointer;
}

header a:visited,
header a:hover,
header a:active {
    color: antiquewhite;
    text-decoration: none;
}

.nav-bar {
    position: fixed;
    top: 2rem;
    left: 0;
    right: 0;
    background: rgb(31, 31, 31);
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar a {
    text-decoration: none;
    cursor: pointer;
    margin: 0.25rem;
}

.nav-bar a:visited,
.nav-bar a:hover,
.nav-bar a:active {
    color: #faebd7;
    text-decoration: none;
}

#nav-search input {
    background-color: black;
    border: 0;
    outline: 0;
    color: #faebd7;
}

.off-screen-menu {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.off-screen-menu ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.off-screen-menu.active {
    right: 0;
}


.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    margin: 0.25rem;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #faebd7;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span {
    background-color: #faebd7;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}